# Triangle patterns:

In [13]:
def inc_Triangle(n,c='*'):
    for i in range(n):
        for j in range(i+1):
            print(c,end="")
        print()

In [14]:
inc_Triangle(5)

*
**
***
****
*****

In [15]:
def dec_Triangle(n,c='*'):
    for i in range(n,0,-1):
        for j in range(i):
            print("*",end="")
        print()

In [16]:
dec_Triangle(5)

*****
****
***
**
*

In [27]:
def pyramid(n,c='*'):
    for j in range(n):
       for i in range(n-j-1):
            print(" ",end="")
       for m in range(j+1):
            print(c,end=" ")
       print()
pyramid(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [44]:
def spaced_triangle(n,c='*'):
    for j in range(n):
        for i in range(1,n-j):
            print("b",end="")
        for k in range(j+1):
            print("*",end="")
        print()
spaced_triangle(5)

bbbb*
bbb**
bb***
b****
*****

In [36]:
def inverted_spaced_triangle(n,c='*'):
    for i in range(n):
        for j in range(i):
            print(" ",end="")
        for m in range(n-i):
            print(c,end="")
        print()
inverted_spaced_triangle(5)

*****
 ****
  ***
   **
    *

In [47]:
def inc_Triangle1(n):
    for i in range(n):
        for j in range(i+1):
            print(j+1,end="")
        print()

In [48]:
inc_Triangle1(5)

1
12
123
1234
12345

In [54]:
def inc_Triangle2(n):
    for i in range(n):
        for j in range(i+1):
            print(i+1,end="")
        print()

In [55]:
inc_Triangle2(5)

1
22
333
4444
55555

In [52]:
def dec_Triangle1(n):
    for i in range(n,0,-1):
        for j in range(i):
            print(j+1,end="")
        print()

In [53]:
dec_Triangle1(5)

12345
1234
123
12
1

In [57]:
def dec_Triangle2(n):
    for i in range(n,0,-1):
        for j in range(i):
            print(i,end="")
        print()
dec_Triangle2(5)

55555
4444
333
22
1

In [60]:
def inc_Triangle1(n):
    k=1
    for i in range(n):
        for j in range(i+1):
            print(f"{k} ",end="")
            k+=1
        print()
inc_Triangle1(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [103]:
def diamond(n,c="*"):
    if n%2==0:
        for j in range(n):
           for i in range(n-j-1):
                print(" ",end="")
           for m in range(j+1):
                print(c,end=" ")
           print()
        for j in range(n):
            for i in range(j):
                print(" ",end="")
            for i in range(n-j):
                print(c,end=" ")
            print()
    else:
        for j in range(n):
           for i in range(n-j-1):
                print(" ",end="")
           for m in range(j+1):
                print(c,end=" ")
           print()
        print(" ",end="")
        for j in range(n-1):
            for i in range(j):
                print(" ",end="")
            for i in range(n-1-j):
                print(c,end=" ")
            
            print()
            print(" ",end="")

In [106]:
diamond(4)

   *
  * *
 * * *
* * * *
* * * *
 * * *
  * *
   *

In [107]:
diamond(5)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *